@import "../../../styles/settings.scss";

.page-title {
  margin: 0;
  font-size: $base-size * 3.3;
  font-weight: 600;
  position: relative;
  color: $color-text;
  text-align: center;
  @include breakpoint(xs) {
    font-size: $base-size * 2;
  }
  @include breakpoint(sm) {
    font-size: $base-size * 2.5;
  }
  @include breakpoint(md) {
    font-size: $base-size * 2.8;
  }
}
