@import "../../../styles/settings.scss";

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  @include breakpoint(xs) {
    transform: scale(0.6);
    margin: -25px auto 0 auto;
    text-align: center;
  }
  &__company-name {
    font-weight: bold;
    font-size: $base-size * 2;
    color: $color-text;
    margin: $base-size;
  }
}
