@import "../../../styles/settings.scss";
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  &__company-name {
    font-weight: bold;
    font-size: $base-size * 2;
    color: $color-text;
    margin: $base-size;
  }
}
