@import "../../styles/settings.scss";

.sort {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 50px;
  &__header {
    padding-bottom: 20px;
    margin-top: 15px;
  }
  &__btn {
    color: $color-text-light;
    &:focus {
      font-weight: bold;
      color: $color-main;
    }
    &:hover {
      color: $color-main;
    }
  }
}
