@import "../../styles/settings.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  transition: $transition;
  @include breakpoint(xs) {
    margin-bottom: 10px;
  }
  @include breakpoint(md) {
    padding: 0;
    padding-right: 10px;
  }
  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    @include breakpoint(xs) {
      margin: 0 auto;
    }
    @include breakpoint(sm) {
      margin: 0 auto;
    }
  }
  &__cart-icon {
    color: $color-text;
    font-size: $base-size * 1.8;
    margin-bottom: 14px;
    margin-left: 14px;
    @include breakpoint(xs) {
      margin-top: 3px;
      margin-bottom: 0;
      margin-left: 0;
    }
    @include breakpoint(md) {
      margin: 18px 10px 0 10px;
    }
    &.active {
      border-bottom: none;
    }
  }
  &__cart-counter {
    font-size: $base-size;
    position: absolute;
    margin-left: 4px;
    @include breakpoint(xs) {
      font-size: $base-size / 2;
      margin-left: 1px;
    }
    @include breakpoint(sm) {
      font-size: $base-size / 1.3;
      margin-left: 2px;
    }
    @include breakpoint(md) {
      font-size: $base-size / 1.1;
    }
  }
  a {
    font-size: $base-size * 1.7;
    @include breakpoint(xs) {
      font-size: $base-size;
    }
    @include breakpoint(sm) {
      font-size: $base-size * 1.4;
    }
    @include breakpoint(md) {
      font-size: $base-size * 1.5;
    }
  }
}
