@import "../../styles/settings.scss";

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 40px;
  @include breakpoint(xs) {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  @include breakpoint(sm) {
    flex-direction: column-reverse;
    margin-top: 10px;
  }
  &__caption {
    font-style: italic;
    @include breakpoint(xs) {
      margin: 0 auto;
      font-size: $base-size;
    }
    @include breakpoint(sm) {
      margin: 0 auto;
      font-size: $base-size * 1.2;
    }
  }
  &__author-name {
    font-style: italic;
  }

  a {
    font-size: $base-size * 1.4;
    @include breakpoint(xs) {
      font-size: $base-size;
    }
    @include breakpoint(sm) {
      font-size: $base-size * 1.2;
    }
  }
  ul {
    @include breakpoint(xs) {
      margin: 10px auto;
    }
    @include breakpoint(sm) {
      margin: 20px auto;
    }
  }
}
