@import "../../../styles//settings.scss";

.main-menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  @include breakpoint(xs) {
    flex-wrap: nowrap;
  }
  li {
    margin: 0 $base-size;
  }
  @include breakpoint(xs) {
    margin: 0;
  }
}
