@import "../../../styles//settings.scss";

.container-fluid {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: $base-size * 2;
  @include breakpoint(xs) {
    padding: $base-size;
  }
}
